/* 其他CSS保持不变 */
/* .content-ex {
  transition: transform 0.3s ease, opacity 0.3s ease; /* 放大缩小和平滑透明度过渡
}

.content-ex.shrink {
  transform: scale(1); 
}

.content-ex.enlarge {
  transform: scale(1.1);
  opacity: 1;
}

.content-right-img img {
  height: auto;
  transition: opacity 0.5s ease;
} */
